body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(../img/subs.png);
    background-size: cover; 
    background-position: center;  
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    width: 400px;
    text-align: center;
    padding: 20px;
    background-color: rgba(52, 152, 219, 0.5); 
    color: #fff; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #cadastroForm {
    margin-top: 20px;
  }

  #cadastroForm label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: white; 
  }

  #cadastroForm input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc; 
    border-radius: 4px;
  }

  #cadastroForm button {
    width: 100%;
    padding: 10px;
    background-color: #2ecc71; 
    color: #fff; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }

  #cadastroForm button:hover {
    background-color: #27ae60; 
  }

  #logo-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    background: none;
    border: none;
    font-family: 'Montserrat', sans-serif; 
  }

  #logo-btn span {
    color: white;
    font-weight: bold;
    font-size: 36px; 
  }

  #logo-btn span.second {
    color:aqua; 
  }

  #outroBotao {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    background-color: #3498db; 
    color: #fff; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease; 
  }

  #outroBotao:hover {
    background-color: #2980b9; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    transform: scale(1.1); 
  }
  